* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

/* shared-class */
.container-width {
  max-width: 1600px;
}

.gradient-button {
  color: #ffffff;
  font-weight: 600;
  padding: 12px 16px;
  border-radius: 10000px;
  background: linear-gradient(47.64deg, #f7e93f, #fb09b4, #9100f8);
  display: inline-flex;
  justify-content: center;
  gap: 4px;
  cursor: pointer;
  transition: transform 0.25s ease;
}
.gradient-button:hover {
  transform: scale(1.05);
}

/* main style */

/* Wrapper div */
.wrapper-container {
  margin: 0 auto;
}

header {
  width: 100%;
}

/* navigation bar */
nav {
  width: 100%;
  background-color: #1a0b2e;
  padding: 1rem 12.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* nav logo */
.logo a {
  font-size: 40px;
  font-weight: 800;
  text-decoration: none;
  color: #ffffff;
}

.logo span {
  background: linear-gradient(90deg, #f7e93f, #fb09b4, #9100f8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* nav links */

.nav-links ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.nav-links ul li {
  list-style: none;
}

.nav-links ul li a {
  text-decoration: none;
  font-weight: 500;
  color: #ffffff;
}

.nav-links ul li a:hover {
  color: #aaa5a5;
}

/* Hamburger menu */

.hamburger {
  display: none;
}
.hamburger img {
  width: 24px;
  height: 24px;
}
