* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

/* shared-class */
.container-width {
  max-width: 1600px;
}

.gradient-button {
  color: #ffffff;
  font-weight: 600;
  padding: 12px 16px;
  border-radius: 10000px;
  background: linear-gradient(47.64deg, #f7e93f, #fb09b4, #9100f8);
  display: inline-flex;
  justify-content: center;
  gap: 4px;
  cursor: pointer;
  transition: transform 0.25s ease;
}
.gradient-button:hover {
  transform: scale(1.05);
}

/* main style */

/* Wrapper div */
.wrapper-container {
  margin: 0 auto;
}

header {
  width: 100%;
}

/* navigation bar */
nav {
  width: 100%;
  background-color: #1a0b2e;
  padding: 1rem 12.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* nav logo */
.logo a {
  font-size: 40px;
  font-weight: 800;
  text-decoration: none;
  color: #ffffff;
}

.logo span {
  background: linear-gradient(90deg, #f7e93f, #fb09b4, #9100f8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* nav links */

.nav-links ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.nav-links ul li {
  list-style: none;
}

.nav-links ul li a {
  text-decoration: none;
  font-weight: 500;
  color: #ffffff;
}

.nav-links ul li a:hover {
  color: #aaa5a5;
}

/* Hamburger menu */

.hamburger {
  display: none;
}
.hamburger img {
  width: 24px;
  height: 24px;
}

.hero-container {
  width: 100%;
  min-height: 100vh;
  background-image: url("./assets/hero-bg.png");
  background-size: cover;

  background-position: center center;
  background-repeat: no-repeat;
  padding: 101px 525px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-content .hero-text h3 {
  font-size: 60px;
  font-weight: 800;
  color: #ffffff;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 10px;
}

.hero-content .hero-text p {
  color: #ffffff;
  text-align: center;
  margin-bottom: 24px;
}

.hero-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.spotify-btn {
  gap: 8px;
}

.message-btn {
  border: 1px solid #00ff88;
  color: #00ff88;
  padding: 12px 20px;
  background-color: transparent;
  border-radius: 10000px;
  display: inline-flex;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  transition: transform 0.25s ease;
}
.message-btn:hover {
  transform: scale(1.05);
}

.content-background {
  display: flex;
  align-items: center;
  width: 350px;
  height: 350px;
  background-image: url("./assets/hero-circle.png");
  position: relative;
}

.content-background img {
  margin: auto;
  animation: floatY 2s ease-in-out infinite;
}

@keyframes floatY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}

.content-background .new {
  width: 75px;
  height: 38px;
  display: inline-block;
  background-color: #00ff88;
  border-radius: 1000px;
  padding: 8px 16px;
  font-weight: 600;
  position: absolute;
  left: 275px;
  top: 30px;
}

@media (max-width: 576px) {
  nav {
    padding: 16px 20px;
  }

  .nav-links {
    display: none;
  }

  .nav-button {
    display: none;
  }

  /* show hamburger */
  .hamburger {
    display: block;
    cursor: pointer;
  }

  .logo a {
    width: 137px;
    height: 20px;
  }
}

.hero-container {
  padding: 40px 20px;
  background-position: center center;
}

.hero-content .hero-text h3 {
  font-size: 40px;
  margin-top: 24px;
}

.hero-content .hero-text p {
  margin-left: 20px;
  margin-right: 20px;
}
